/* 通用页面 */
*{
    margin:0;
}

html,body,#app,main,.scroll,.left,.right{
    width:100%;
}

/* Home页面 */
.notify{
    background-color: lightgreen;
    padding: 5px;
    text-align: center;
}

.center{
    text-align: center;
    padding: 5px;
}

/* Bonds页面 */
/* 中间部分 */
main{
    display: flex;
    justify-content: center;
    height: 100%;
    color:gold;
}

/* 中间左部 */
.bonds .left{
    border-right: 5px solid rgba(0,0,0,0.8);
    background-color: beige;
}

.bonds #charts{
    width:100%;
}

/* 中间右部 */
.bonds .right{
    background-color:rgba(0,0,0,0.8);
    font-size: 1.25em;
    text-align: center;
}

/* 右部调参部件 */
.bonds .right-parameters{
    box-shadow:10px 10px 10px 10px rgba(0,0,0,0.8);
    width:70%;
    margin: 32px auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* 特殊样式 */
.bonds .bgtrans{
    background-color: transparent;
    color:gold;
}

.bonds label{
    width:100px;
    display: inline-block;
}

.bonds .btn{
    width:30%;
    height:3em;
    margin-top: 20px;
}