<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WaO Search</title>
        <link rel="stylesheet" href="./lib/element-plus.css">
        <link rel="stylesheet" href="./index.css">
    </head>

    <body>
        <div id="app">
            <el-container>
                <el-header class="wao-header">WaOGroup Project</el-header>
                <el-main class="wao-main">
                    <div class="flex-center">
                        <el-row align="middle" justify="center">
                            <el-col :span="12" class="title">
                                WaO Search
                            </el-col>
                        </el-row>
                        <br />
                        <el-row align="middle" justify="center">
                            <el-col :span="12">
                                <el-input v-model="searchInput" placeholder="Please Input Keywords···">
                                    <template #append>
                                        <el-button icon="Search" @click="doSearch" />
                                    </template>
                                </el-input>
                            </el-col>
                        </el-row>
                    </div>
                </el-main>
                <el-footer class="wao-footer">WaOGroup@2024</el-footer>
            </el-container>
            <el-drawer v-model="openDrawer" size="90%" :open-delay="0" title="Search Result" direction="btt"
                :before-close="handleClose">
                <comp :msg="searchInput" :trigger="openDrawer" />
            </el-drawer>
        </div>
        <!-- vue -->
        <script src="./lib/vue.global.js"></script>
        <!-- axios -->
        <script src="./lib/axios.min.js"></script>
        <!-- element ui -->
        <script src="./lib/element-plus.js"></script>
        <script src="./lib/icons-vue.js"></script>
        <!-- app -->
        <script src="./index.js" type="module" async></script>
    </body>

</html>